/*******FONT*******/

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

* {
    font-family:'Shippori Mincho B1', serif;;
}

/****Color Classes****/

.yellow{
    fill: #F5B12F;
    opacity: 80%;
}

.orange{
    fill: #F55F0F;
    opacity: 75%;
}

.green {
    fill: #27F569;
    opacity: 75%;
}

.blue{
    fill: #2782F5;
    opacity: 75%;
}

.red {
    fill: #F50702;
    opacity: 75%;
}

.pink{
    fill: #E02DAB;
    opacity: 75%;
}

.purple {
    fill: #951CE0;
    opacity: 75%;
}

.turquoise{
    fill: #5FE6E5;
    opacity: 75%;
}

/*****Remove and set pointer events*****/

g#shadow_Image{
    pointer-events: none;
}

path{
    pointer-events: fill;
}

/*******SVG size adjustment*******/
#shoe-svg{
    width: 70vw;
}
/**********Hover effects************/
path:hover {
    cursor: pointer;
    fill: grey;
    opacity: 20%;
}

svg rect:hover {
    opacity: 70%;
    cursor: pointer;
  }

